.navbar.navbar-expand-lg.bg-primary.fixed-top{
    background-color: #1e6281 !important;
}

.navbar.navbar-expand-lg.bg-primary.fixed-top.navbar-transparent{
    background-color: transparent !important;
}

.multimundo-color{
   background-color: #10d7fb;
}